<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Document for Building</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Document -<span th:text="${apartment.building.address}"></span></h1>
	<div class="col-md-4">
		<h3>
			Hello USERNAME
			<!-- insert username when security is implemented -->
		</h3>
	</div>
	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>
	<div>
	<form th:object="${document}" th:action="@{/savedocument}" action="#" method="post">
	
		<label for="fileName">File Name:</label>
		<input type="text" id="fileName" th:field="*{fileName}" required /> 
		<div style="clear: both; display: block; height: 10px;"></div>
			
		<label for="type">Type:</label> 
		<input type="text" id="type" th:field="*{type}" required /> 
		<div style="clear: both; display: block; height: 10px;"></div>
			
		<label for="description">Description:</label>
		<div class="form-outline w-50 mb-4">
		<textarea class="form-control" id="description" th:field="*{description}" required /></textarea>
		</div>
	
		<label for="documentDate">Document Date:</label> 
		<input type="text" id="documentDate" th:field="*{documentDate}" required /> 
		<div style="clear: both; display: block; height: 10px;"></div>
				
		<label for="documentNumber">Document Number:</label> 
		<input type="text"
			id="documentNumber" th:field="*{documentNumber}" required />
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<input type="hidden" th:field="*{building}" th:value="-100" />	
		<input type="hidden" th:field="*{apartment}" th:value="${apartment}" />


		<input type="submit" value="Save" class="btn btn-success"></input>
		<a th:href="@{'/apartmentdocuments/' + ${apartmentId}}" class="btn btn-secondary">Cancel</a>
	</form>
	</div>
	<p th:text="${apartment.id}"></p>
</body>
</html>
