<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Buildings</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Apartments - <span th:text="${building.address}"></span></h1>
	<div class="col-md-4">
		<h3>Hello <span sec:authentication="name"></span>!</h3>
	</div>

	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			<a href="/buildings" class="btn btn-sm btn-secondary">Go Back</a>
		</form>
	</div>
	<div style="clear: both; display: block; height: 10px;"></div>
	<table class="table table-striped">
		<tr>
			<th>Apartment Number</th>
			<th>Owner Name</th>
			<th>Owner Surname</th>
			<th></th>
			<th sec:authorize="hasAnyAuthority('ADMIN', 'SUPER')"></th>
		</tr>
		<tr th:each="apartment : ${apartments}">
			<td th:text="${apartment.aptNumber}"></td>
			<td th:text="${apartment.ownerName}"></td>
			<td th:text="${apartment.ownerSurname}"></td>
			<!-- need edit (?) -->
			<td><a th:href="@{/apartmentdocuments/{apartmentId} (apartmentId=${apartment.id})}"
				class="btn btn-primary">Documents</a></td>
			<!-- need edit -->
			<td><a sec:authorize="hasAuthority('ADMIN')"
				th:href="@{/editapartment/{id} (id=${apartment.id})}"
				class="btn btn-secondary">Edit</a>
			<!-- need edit -->
			<a sec:authorize="hasAuthority('SUPER')"
				th:href="@{/deleteapartment/{id} (id=${apartment.id})}"
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/addapartment/{buildingId}(buildingId=${building.id})}" class="btn btn-success">Add Apartment</a>
</body>
</html>