<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Documents</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Documents - <span th:text="${building.address}"></span></h1>
	<div class="col-md-4">
		<h3>Hello <span sec:authentication="name"></span>!</h3>
	</div>

	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			<a href="/buildings" class="btn btn-sm btn-secondary">Go Back</a>
		</form>
	</div>

	<table class="table table-striped">
		<!-- needs columns only for ADMIN and SUPER with link to documents -->
		<!-- needs link to correct apartment list -->
		<tr>
			<th>File Name</th>
			<th>Description</th>
			<th>Document Number</th>
			<th>Document Date</th>
			<th></th>

		</tr>
		<tr th:each="document : ${documents}">
			<td th:text="${document.fileName}"></td>
			<td th:text="${document.description}"></td>
			<td th:text="${document.documentNumber}"></td>
			<td th:text="${document.documentDate}"></td>
			<!-- need DELETE and EDIT button -->
			<td>
				<a th:href="@{/editdocument/{id} (id=${document.id})}"
				class="btn btn-secondary">Edit</a>
				<a th:href="@{/deletedocument/{id} (id=${document.id})}"
				class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</table>
	<a th:href="@{/adddocumentbuilding/{buildingId}(buildingId=${buildingId})}" class="btn btn-success">Add Document</a>

	<!-- needs add document (only available to ADMIN) + UPLOAD/DOWNLOAD FUNCTIONALITIES -->
</body>
</html>